<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CompilerFlags</key>
	<string></string>
	<key>CompilerScript</key>
	<false/>
	<key>ConsoleType</key>
	<integer>0</integer>
	<key>Debugger</key>
	<string>pdb</string>
	<key>Enabled</key>
	<true/>
	<key>FileExtensions</key>
	<array>
		<string>py</string>
	</array>
	<key>Grammar</key>
	<string>source.python</string>
	<key>Name</key>
	<string>Python</string>
	<key>OutputEncoding</key>
	<integer>4</integer>
	<key>RunCommand</key>
	<string>python $filename</string>
	<key>SoftTabs</key>
	<false/>
	<key>TabWidth</key>
	<integer>4</integer>
	<key>Templates</key>
	<array>
		<dict>
			<key>Default</key>
			<true/>
			<key>Extension</key>
			<string>py</string>
			<key>Name</key>
			<string>Python Script</string>
			<key>NameOnCreation</key>
			<false/>
			<key>Template</key>
			<string>#!/usr/bin/python

&lt;##&gt;</string>
		</dict>
		<dict>
			<key>Default</key>
			<false/>
			<key>Extension</key>
			<string>py</string>
			<key>Name</key>
			<string>Class</string>
			<key>NameOnCreation</key>
			<true/>
			<key>Template</key>
			<string>#!/usr/bin/python
# ___FILENAME___
# Created by ___FULLUSERNAME___ on ___DATE___.

class ___FILEBASENAME___:
	def __init__(self):
		&lt;##&gt;</string>
		</dict>
	</array>
	<key>uuid</key>
	<string>449F8083-10A9-446C-9482-F14F7C1A9464</string>
</dict>
</plist>
