<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CodeTemplate</key>
	<string></string>
	<key>CompilerFlags</key>
	<string></string>
	<key>CompilerScript</key>
	<true/>
	<key>ConsoleType</key>
	<integer>0</integer>
	<key>Enabled</key>
	<true/>
	<key>FileExtensions</key>
	<array>
		<string>swift</string>
	</array>
	<key>Grammar</key>
	<string>source.swift</string>
	<key>LanguageBundleVersion</key>
	<integer>1</integer>
	<key>LastUsed</key>
	<date>2015-02-16T07:00:03Z</date>
	<key>Name</key>
	<string>Swift</string>
	<key>OutputEncoding</key>
	<integer>4</integer>
	<key>RunCommand</key>
	<string>./$compiler</string>
	<key>SoftTabs</key>
	<false/>
	<key>TabWidth</key>
	<integer>4</integer>
	<key>Templates</key>
	<array>
		<dict>
			<key>Default</key>
			<false/>
			<key>Extension</key>
			<string>swift</string>
			<key>Name</key>
			<string>Class</string>
			<key>NameOnCreation</key>
			<true/>
			<key>Template</key>
			<string>//
// ___FILENAME___
// Created by ___FULLUSERNAME___ on ___DATE___.

class ___FILEBASENAME___ {
	&lt;##&gt;
}</string>
			<key>TemplateModified</key>
			<true/>
		</dict>
		<dict>
			<key>Default</key>
			<false/>
			<key>Extension</key>
			<string>swift</string>
			<key>Name</key>
			<string>Class (NSObject)</string>
			<key>NameOnCreation</key>
			<true/>
			<key>Template</key>
			<string>//
// ___FILENAME___
// Created by ___FULLUSERNAME___ on ___DATE___.

import Foundation

class ___FILEBASENAME___: NSObject {
	&lt;##&gt;
}</string>
		</dict>
	</array>
	<key>UseCount</key>
	<integer>1</integer>
	<key>uuid</key>
	<string>8EB61A41-AAC1-4C23-B110-2E2C8B5E1162</string>
</dict>
</plist>
