<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CompilerScript</key>
	<true/>
	<key>CompilerFlags</key>
	<string></string>
	<key>FileExtensions</key>
	<array>
		<string>cpp</string>
		<string>cc</string>
		<string>cp</string>
		<string>cxx</string>
		<string>c++</string>
		<string>h</string>
		<string>hh</string>
		<string>hpp</string>
		<string>h++</string>
	</array>
	<key>uuid</key>
	<string>EC55AB59-7920-4862-B7EB-963CD4BB928A</string>
	<key>Name</key>
	<string>C++</string>
	<key>OutputEncoding</key>
	<integer>4</integer>
	<key>RunCommand</key>
	<string>./$compiler</string>
	<key>Grammar</key>
	<string>source.c++</string>
	<key>RequiresExternalComponents</key>
	<true/>
	<key>Enabled</key>
	<true/>
	<key>ConsoleType</key>
	<integer>0</integer>
	<key>TabWidth</key>
	<string>4</string>
	<key>SoftTabs</key>
	<false/>
	<key>Templates</key>
	<array>
		<dict>
			<key>Template</key>
			<string>#include &lt;iostream&gt;

using namespace std;
int main(int argc, char *argv[]) {
	&lt;##&gt;
}</string>
			<key>NameOnCreation</key>
			<false/>
			<key>Extension</key>
			<string>cpp</string>
			<key>Name</key>
			<string>Main File</string>
			<key>Default</key>
			<true/>
		</dict>
		<dict>
			<key>Template</key>
			<string></string>
			<key>NameOnCreation</key>
			<false/>
			<key>Extension</key>
			<string>h</string>
			<key>Name</key>
			<string>Header</string>
			<key>Default</key>
			<false/>
		</dict>
		<dict>
			<key>Template</key>
			<string>//
// ___FILENAME___
// Created by ___FULLUSERNAME___ on ___DATE___.

#ifndef ____FILEBASENAME_______FILEEXTENSION____
#define ____FILEBASENAME_______FILEEXTENSION____

class ___FILEBASENAME___ {
public:
	___FILEBASENAME___();
	virtual ~___FILEBASENAME___();
};

#endif</string>
			<key>NameOnCreation</key>
			<true/>
			<key>Extension</key>
			<string>h</string>
			<key>Name</key>
			<string>Class</string>
			<key>Default</key>
			<false/>
		</dict>
		<dict>
			<key>Template</key>
			<string>//
// ___FILENAME___
// Created by ___FULLUSERNAME___ on ___DATE___.

#include &quot;___FILEBASENAME___.h&quot;

___FILEBASENAME___::___FILEBASENAME___() {
	&lt;##&gt;
}

___FILEBASENAME___::~___FILEBASENAME___() {
	
}</string>
			<key>NameOnCreation</key>
			<true/>
			<key>Extension</key>
			<string>cpp</string>
			<key>Name</key>
			<string>Class</string>
			<key>Default</key>
			<false/>
		</dict>
		<dict>
			<key>Template</key>
			<string>//
// ___FILENAME___
// Created by ___FULLUSERNAME___ on ___DATE___.

#ifndef ____FILEBASENAME_______FILEEXTENSION____
#define ____FILEBASENAME_______FILEEXTENSION____

&lt;##&gt;

#endif</string>
			<key>NameOnCreation</key>
			<true/>
			<key>Extension</key>
			<string>h</string>
			<key>Name</key>
			<string>Header-CPP Pair</string>
			<key>Default</key>
			<false/>
		</dict>
		<dict>
			<key>Template</key>
			<string>//
// ___FILENAME___
// Created by ___FULLUSERNAME___ on ___DATE___.

#include &quot;___FILEBASENAME___.h&quot;

&lt;##&gt;</string>
			<key>NameOnCreation</key>
			<true/>
			<key>Extension</key>
			<string>cpp</string>
			<key>Name</key>
			<string>Header-CPP Pair</string>
			<key>Default</key>
			<false/>
		</dict>
	</array>
</dict>
</plist>
