<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CompilerFlags</key>
	<string></string>
	<key>CompilerScript</key>
	<false/>
	<key>ConsoleType</key>
	<integer>1</integer>
	<key>Enabled</key>
	<true/>
	<key>FileExtensions</key>
	<array>
		<string>html</string>
		<string>htm</string>
		<string>shtml</string>
		<string>xhtml</string>
		<string>tmpl</string>
		<string>tpl</string>
	</array>
	<key>Grammar</key>
	<string>text.html.basic</string>
	<key>LanguageBundleVersion</key>
	<integer>1</integer>
	<key>LiveConsole</key>
	<true/>
	<key>Name</key>
	<string>HTML</string>
	<key>OutputEncoding</key>
	<integer>4</integer>
	<key>RunCommand</key>
	<string>cat $filename</string>
	<key>SoftTabs</key>
	<false/>
	<key>TabWidth</key>
	<integer>4</integer>
	<key>Templates</key>
	<array>
		<dict>
			<key>Default</key>
			<true/>
			<key>Extension</key>
			<string>html</string>
			<key>Name</key>
			<string>HTML 5 Page Structure</string>
			<key>NameOnCreation</key>
			<false/>
			<key>Template</key>
			<string>&lt;!DOCTYPE html&gt;
&lt;html&gt;
	&lt;head&gt;
		&lt;meta charset="UTF-8"&gt;
		&lt;title&gt;&lt;/title&gt;
	&lt;/head&gt;
	&lt;body&gt;
		&lt;##&gt;
	&lt;/body&gt;
&lt;/html&gt;</string>
			<key>TemplateModified</key>
			<true/>
		</dict>
		<dict>
			<key>Default</key>
			<false/>
			<key>Extension</key>
			<string>html</string>
			<key>Name</key>
			<string>XHTML 1.0 Strict Page Structure</string>
			<key>NameOnCreation</key>
			<false/>
			<key>Template</key>
			<string>&lt;!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"&gt;
&lt;html xmlns="http://www.w3.org/1999/xhtml"&gt;
	&lt;head&gt;
		&lt;meta http-equiv="Content-Type" content="text/html; charset=utf-8" /&gt;
		&lt;title&gt;&lt;/title&gt;
	&lt;/head&gt;
	&lt;body&gt;
		&lt;##&gt;
	&lt;/body&gt;
&lt;/html&gt;</string>
		</dict>
		<dict>
			<key>Default</key>
			<false/>
			<key>Extension</key>
			<string>html</string>
			<key>Name</key>
			<string>HTML 4.01 Strict Page Structure</string>
			<key>NameOnCreation</key>
			<false/>
			<key>Template</key>
			<string>&lt;!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd"&gt;
&lt;html&gt;
	&lt;head&gt;
		&lt;meta http-equiv="Content-Type" content="text/html; charset=utf-8"&gt;
		&lt;title&gt;&lt;/title&gt;
	&lt;/head&gt;
	&lt;body&gt;
		&lt;##&gt;
	&lt;/body&gt;
&lt;/html&gt;</string>
		</dict>
	</array>
	<key>uuid</key>
	<string>FFE53747-E6FA-41A9-AD88-B6E70A7D2DBE</string>
</dict>
</plist>
