<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CompilerFlags</key>
	<string></string>
	<key>CompilerScript</key>
	<false/>
	<key>ConsoleType</key>
	<integer>0</integer>
	<key>Enabled</key>
	<true/>
	<key>FileExtensions</key>
	<array>
		<string>sh</string>
	</array>
	<key>Grammar</key>
	<string>source.shell</string>
	<key>Name</key>
	<string>Shell Script</string>
	<key>OutputEncoding</key>
	<integer>4</integer>
	<key>RunCommand</key>
	<string>bash $filename</string>
	<key>SoftTabs</key>
	<false/>
	<key>TabWidth</key>
	<integer>4</integer>
	<key>uuid</key>
	<string>673C976D-FCA5-4110-A78F-5751A98CC481</string>
	<key>Templates</key>
	<array>
		<dict>
			<key>Name</key>
			<string>Shell Script</string>
			<key>Default</key>
			<true/>
			<key>NameOnCreation</key>
			<false/>
			<key>Extension</key>
			<string>sh</string>
			<key>Template</key>
			<string>#!/bin/bash

&lt;##&gt;</string>
		</dict>
	</array>
</dict>
</plist>
