<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CodeTemplate</key>
	<string></string>
	<key>CompilerFlags</key>
	<string></string>
	<key>CompilerScript</key>
	<false/>
	<key>ConsoleType</key>
	<integer>0</integer>
	<key>Enabled</key>
	<true/>
	<key>FileExtensions</key>
	<array>
		<string>lua</string>
	</array>
	<key>Grammar</key>
	<string>source.lua</string>
	<key>Name</key>
	<string>Lua</string>
	<key>OutputEncoding</key>
	<integer>4</integer>
	<key>RunCommand</key>
	<string>lua $filename</string>
	<key>SoftTabs</key>
	<false/>
	<key>TabWidth</key>
	<integer>4</integer>
	<key>uuid</key>
	<string>0C785A85-9668-4B43-AE5F-54B0D104D222</string>
	<key>Errors</key>
	<dict>
		<key>127</key>
		<string>Could not find Lua on your system. You can get it at http://lua.org</string>
	</dict>
	<key>RequiresExternalComponents</key>
	<true/>
</dict>
</plist>
